  {{#if isContent}}
  <div class="w-480 h-full bg-white shadow-lg relative z-10 overflow-y-scroll {{hidden}}">
    <div class="flex w-full shadow">
      <button class="w-1/2 bg-white text-grey-darker text-lg shadow" onclick={{action 'toggleSidebar'}}>Design</button>
      <button class="w-1/2 bg-purple text-white font-semibold py-3 text-xl">Campaign Details</button>
    </div>
  <form>
    <div class="bg-white">
      <div class="flex py-2 px-8 mx-4">
        <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">About</h3>
        <div class="w-1/2 my-8">
          {{#if contentComplete}}
            <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-purple text-white text-center flex justify-center float-right"><img src="/img/icons/ConfirmWhite.svg" class="w-3 self-center"></span>
          {{else}}
            <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-white text-white text-center flex justify-center float-right border-2 border-purple"><img src="/img/icons/ConfirmPurple.svg" class="w-3 self-center"></span>
          {{/if}}
        </div>
      </div>
      <div class="flex items-center justify-center pb-8">
        <div class="w-3/4 flex justify-around">
          <div class="w-full">
            <p class="text-grey mb-2">Campaign Name</p>
            {{#debounced-value
                property=(get changeset "name")
                onChange=(action "loadChanges")
                wait=150
                as |debouncer|}}
              <input type="text" value={{changeset.name}} class="w-full border border-grey py-2 px-4 text-grey-dark rounded-lg flex font-semibold mt-4" placeholder="Help us find a new home!" oninput={{action debouncer value="target.value"}}>
            {{/debounced-value}}
          </div>
        </div>
      </div>

      <div class="flex items-center justify-center pb-8">
        <div class="w-3/4 flex justify-around">
          <div class="w-full">
            <p class="text-grey mb-2">Description</p>
            {{#debounced-value
              property=(get changeset "description")
              onChange=(action "loadChanges")
              wait=50
              as |debouncer|}}
                {{pell-editor
                  value=changeset.description
                  onChange=(action debouncer value=value)
                  pellOptions=pellOptions
                  class="border border-grey rounded-lg text-grey-dark"
                }}
            {{/debounced-value}}
          </div>
        </div>
      </div>

    </div>
    <div class="bg-grey-lightest">
      <div class="flex py-2 px-8 mx-4">
        <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Goal</h3>
        <div class="w-1/2 my-8">
          <p class="float-right text-grey-darker italic">Optional</p>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="w-full px-8 flex justify-left my-8 radio-button">
          {{#checkbox-with-label
            checked=changeset.hasGoal
            disabled=disabled
            update=(action "updateHasGoal")
          }}
            <p class="w-full text-grey-darker ml-4 radio-custom-label">Campaign Goal</p>

          {{/checkbox-with-label}}
        </div>
      </div>

      {{#if showGoal}}
      <div class="flex items-center justify-center pb-8">
        <div class="w-3/4 flex justify-around">
          <div class="w-full">
            {{#debounced-value
              property=(get changeset "goal")
              onChange=(action "loadChanges")
              wait=50
              as |debouncer|}}
                <input value={{changeset.goal}} class="w-full border-b border-grey py-2 px-4 text-grey-dark flex bg-grey-lightest" placeholder="$100 CAD" oninput={{action debouncer value="target.value"}} />
            {{/debounced-value}}

            <div class="w-2/3 mx-auto text-grey-darker font-normal bg-grey-lighter py-3 px-4 rounded-b-lg text-center radio-button">
              {{#checkbox-with-label
                checked=changeset.showGoal
                disabled=disabled
                update=(action "updateShowGoal")
              }}
                <p class="radio-custom-label">Show amount raised?</p>
              {{/checkbox-with-label}}
            </div>
          </div>
        </div>
      </div>
      {{/if}}

      <div class="flex items-center justify-center">
        <div class="w-full px-8 flex justify-left my-8 radio-button">
          {{#checkbox-with-label
            checked=changeset.hasEndDate
            disabled=disabled
            update=(action (mut changeset.hasEndDate))
          }}
          <p class="w-full text-grey-darker ml-4 radio-custom-label">Does this campaign end?</p>
          {{/checkbox-with-label}}
        </div>
      </div>
      {{#if showDateFields}}
        <div class="flex items-center justify-center pb-8">
          <div class="w-3/4 flex justify-around">
            {{#debounced-value
              property=(get changeset "endDate")
              onChange=(action "loadChanges")
              wait=50
              as |debouncer|}}
                <input value={{changeset.endDate}} class="w-24 border-b border-grey py-2 px-4 text-grey-dark bg-grey-lightest" placeholder="Day" oninput={{action debouncer value="target.value"}}/>
            {{/debounced-value}}

            {{#debounced-value
              property=(get changeset "endMonth")
              onChange=(action "loadChanges")
              wait=50
              as |debouncer|}}
                <input value={{changeset.endMonth}} class="w-24 border-b border-grey py-2 px-4 text-grey-dark bg-grey-lightest" placeholder="Month" oninput={{action debouncer value="target.value"}}/>
            {{/debounced-value}}

            {{#debounced-value
              property=(get changeset "endYear")
              onChange=(action "loadChanges")
              wait=50
              as |debouncer|}}
                <input value={{changeset.endYear}} class="w-24 border-b border-grey py-2 px-4 text-grey-dark bg-grey-lightest" placeholder="Year" oninput={{action debouncer value="target.value"}}/>
            {{/debounced-value}}
          </div>
        </div>
      {{/if}}
    </div>

    <div class="bg-white">
      <div class="flex py-8 px-8 mx-4">
        <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Photos</h3>
        <div class="w-1/2 my-8">
          {{#if photosComplete}}
            <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-purple text-white text-center flex justify-center float-right"><img src="/img/icons/ConfirmWhite.svg" class="w-3 self-center"></span>
          {{else}}
            <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-white text-white text-center flex justify-center float-right border-2 border-purple"><img src="/img/icons/ConfirmPurple.svg" class="w-3 self-center"></span>
          {{/if}}
        </div>
      </div>

      <div class="flex items-center justify-center mb-12">
        <div class="w-3/4 flex justify-left -ml-8">
          <div class="w-full">
            {{photo-uploader}}
          </div>
        </div>
      </div>


      <div class="flex items-center justify-center">
        <div class="w-3/4 flex justify-around">
          <div class="w-full">
            <p class="text-grey mb-2">Library</p>
          </div>
        </div>
      </div>
      {{#debounced-value
        property=(get changeset "imageUrl")
        onChange=(action "loadChanges" value)
        wait=50
        as |debouncer|}}
          {{photo-viewer
            value=changeset.imageUrl
            onChange=(action debouncer value=value)
          }}
      {{/debounced-value}}

    </div>

    <div class="bg-grey-lightest pb-8">
      <div class="flex py-2 px-8 mx-4">
        <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Social Share</h3>
        <div class="w-1/2 my-8">
          <p class="float-right text-grey-darker italic">Optional</p>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="w-3/4 flex justify-around">
          <div class="w-full">
            <p class="text-grey">How do you want donors to share your campaign?</p>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-center mb-10 mt-6">
        <div class="w-3/4 flex justify-around">
          <div class="w-full">
            <div class="flex items-center justify-left">
              <div class="w-60 flex">
                {{#if (eq this.changeset.facebook_share true)}}
                  <span class="rounded-full inline-block h-10 w-10 my-px items-center mx-2 relative bg-purple self-center flex justify-center" {{action "toggleFacebookShare"}}>
                    <img class="w-4" src="/img/icons/FacebookWhite.svg" />
                  </span>
                {{else}}
                  <span class="rounded-full inline-block h-10 w-10 my-px items-center relative bg-grey-buttons self-center mx-2 flex justify-center" {{action "toggleFacebookShare"}}>
                    <img class="w-4" src="/img/icons/Facebook.svg" />
                  </span>
                {{/if}}

                {{#if (eq this.changeset.linkedin_share true)}}
                  <span class="rounded-full inline-block h-10 w-10 my-px items-center mx-2 relative bg-purple self-center flex justify-center" {{action "toggleLinkedinShare"}}>
                    <img class="w-4" src="/img/icons/LinkedinWhite.svg" />
                  </span>
                {{else}}
                  <span class="rounded-full inline-block h-10 w-10 my-px items-center relative bg-grey-buttons self-center mx-2 flex justify-center" {{action "toggleLinkedinShare"}}>
                    <img class="w-4" src="/img/icons/Linkedin.svg" />
                  </span>
                {{/if}}

                {{#if (eq this.changeset.twitter_share true)}}
                  <span class="rounded-full inline-block h-10 w-10 my-px items-center mx-2 relative bg-purple self-center flex justify-center" {{action "toggleTwitterShare"}}>
                    <img class="w-4" src="/img/icons/TwitterWhite.svg" />
                  </span>
                {{else}}
                  <span class="rounded-full inline-block h-10 w-10 my-px items-center relative bg-grey-buttons self-center mx-2 flex justify-center" {{action "toggleTwitterShare"}}>
                    <img class="w-4" src="/img/icons/Twitter.svg" />
                  </span>
                {{/if}}


                {{#if (eq this.changeset.email_share true)}}
                  <span class="rounded-full inline-block h-10 w-10 my-px items-center mx-2 relative bg-purple self-center flex justify-center" {{action "toggleEmailShare"}}>
                    <img class="w-4" src="/img/icons/mailWhite.svg" />
                  </span>
                {{else}}
                  <span class="rounded-full inline-block h-10 w-10 my-px items-center relative bg-grey-buttons self-center mx-2 flex justify-center" {{action "toggleEmailShare"}}>
                    <img class="w-4" src="/img/icons/mail.svg" />
                  </span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center relative">

      <div class="w-64 flex justify-around fixed h-12 -mt-2 pin-b push-right-288">
        <button class="w-1/2 bg-purple border-r border-1 border-white flex content-center justify-center rounded-tl-xl focus:outline-none" {{action "undo"}}>
          <p class="text-white mb-2 self-center text-sm">Undo <img src="/img/icons/arrow_right.png" class="w-2 rotate-90 ml-2 mt-2"/></p>
        </button>
        <button class="w-1/2 bg-purple flex justify-center content-center items-center focus:outline-none" {{action "redo"}}>
          <p class="text-white mb-2 self-center text-sm"><img src="/img/icons/arrow_left.png" class="w-2 rotate-90 mr-2 mt-2"/>Redo</p>
        </button>
      </div>
    </div>
    </form>
  </div>

  {{else}}
  <div class="w-480 h-full bg-white shadow-lg relative z-10 overflow-y-scroll {{hidden}}">
    <div class="flex w-full shadow">
      <button class="w-1/2 bg-purple text-white font-semibold py-3 text-xl">Design</button>
      <button class="w-1/2 bg-white text-grey-darker text-lg shadow" onclick={{action 'toggleSidebar'}}>Campaign Details</button>
    </div>
    <div class="bg-grey-lightest">
      <div class="flex py-2 px-8 mx-4">
        <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Templates</h3>
        <div class="w-1/2 my-8">
          <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-purple text-white text-center flex justify-center float-right"><img src="/img/icons/ConfirmWhite.svg" class="w-3 self-center"></span>
        </div>
      </div>
      <div class="flex items-center justify-center pb-8">
        <div class="w-3/4 flex justify-around">

          {{#if (eq this.changeset.templateId 1)}}
            <img class="w-24" src="/img/Template_Preview_1.png"/>
          {{else}}
            <img class="w-24 opacity-50" src="/img/Template_Preview_1.png" {{action "renderFirstTemplate"}}/>
          {{/if}}

          {{#if (eq this.changeset.templateId 2)}}
            <img class="w-24" src="/img/Template_Preview_2.png"/>
          {{else}}
            <img class="w-24 opacity-50" src="/img/Template_Preview_2.png" {{action "renderSecondTemplate"}}/>
          {{/if}}

          {{#if (eq this.changeset.templateId 3)}}
            <img class="w-24" src="/img/Template_Preview_3.png"/>
          {{else}}
            <img class="w-24 opacity-50" src="/img/Template_Preview_3.png" {{action "renderThirdTemplate"}}/>
          {{/if}}

        </div>
      </div>
    </div>

    <div class="bg-white">
      <div class="flex py-8 px-8">
        <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Fonts & Colours</h3>
        <div class="w-1/2 my-8">
          {{#if fontsColoursComplete}}
            <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-purple text-white text-center flex justify-center float-right"><img src="/img/icons/ConfirmWhite.svg" class="w-3 self-center"></span>
          {{else}}
            <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-white text-white text-center flex justify-center float-right border-2 border-purple"><img src="/img/icons/ConfirmPurple.svg" class="w-3 self-center"></span>
          {{/if}}
        </div>
      </div>
      <div class="flex items-center justify-center pb-8">
        <div class="w-3/4 flex justify-left">
          <div class="w-full">
            <p class="text-grey mb-2">Font</p>
            {{#debounced-value
                property=(get changeset "font")
                wait=50
                as |debouncer|}}
                {{#power-select
                  options=fonts
                  selected=changeset.font
                  searchEnabled=false
                  triggerClass="px-4 w-full text-grey rounded-lg bg-white border-grey-light py-2 text-sm font-bold font"
                  onchange=(action "updateText")
                  dropdownClass="fonts"
                  placeholder="Select a font..." as |font|}}
                  <span style="{{html-safe-font font}}" class="text-lg text-left list-item">{{font}}</span>
                {{/power-select}}
            {{/debounced-value}}
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center mt-4">
        <div class="w-3/4 flex justify-around">
          <div class="w-1/2">
            <p class="text-grey mb-2">Colour Collections</p>
          </div>
          <div class="w-1/2">
          </div>
        </div>
      </div>

    {{#debounced-value
        property=(get "colourSet")
        onChange=(action "loadChanges")
        wait=50
        as |debouncer|}}
          {{template-colour-select
            value=colourSet
            onChange=(action "loadColourSet" value=value)
          }}
    {{/debounced-value}}

    <div class="flex items-center justify-center">
      <div class="w-3/4 flex justify-around">
        <h3 class="w-1/2 text-grey text-xl font-bold capitalize border-b border-grey pb-4">{{colourSet}}</h3>
        <div class="w-1/2 border-b border-grey pb-4 inline-flex justify-end">
          <p class="text-grey self-center">Light Mode</p>
          {{x-toggle
            theme='material'
            value=this.lightMode
            onToggle=(action "toggleLightMode")
          }}
        </div>
      </div>
    </div>
    <div class="mt-6">
      {{manual-colour-picker
         primaryColour=this.changeset.primaryColour
         secondaryColour=this.changeset.secondaryColour
         tertiaryColour=this.changeset.tertiaryColour
         quaternaryColour=this.changeset.quaternaryColour
         quinaryColour=this.changeset.quinaryColour
         onChange=(action "updateManualColour")
       }}
    </div>
    </div>

    <div class="flex items-center justify-center mt-4 relative">
      <div class="w-3/4 flex justify-around">
        <div class="w-full h-12">
        </div>
      </div>

      <div class="w-64 flex justify-around fixed h-12 -mt-2 pin-b push-right-288 z-20">
        <button class="w-1/2 bg-purple border-r border-1 border-white flex content-center justify-center rounded-tl-xl focus:outline-none" {{action "undo"}}>
          <p class="text-white mb-2 self-center text-sm">Undo <img src="/img/icons/arrow_right.png" class="w-2 rotate-90 ml-2 mt-2"/></p>
        </button>
        <button class="w-1/2 bg-purple flex justify-center content-center items-center focus:outline-none" {{action "redo"}}>
          <p class="text-white mb-2 self-center text-sm"><img src="/img/icons/arrow_left.png" class="w-2 rotate-90 mr-2 mt-2"/>Redo</p>
        </button>
      </div>
    </div>
  </div>
{{/if}}
