{{#if isContent}}
<div class="w-480 h-full bg-white shadow-lg relative z-10 overflow-y-scroll {{hidden}}">
  <div class="flex w-full shadow">
    <button class="w-1/2 bg-white text-grey-darker text-lg shadow" onclick={{action 'toggleSidebar'}}>Design</button>
    <button class="w-1/2 bg-purple text-white font-semibold py-3 text-xl">Receipt Details</button>
  </div>
<form>
  <div class="bg-grey-lightest">
    <div class="flex py-2 px-8 mx-4">
      <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Thank you letter</h3>
      <div class="w-1/2 my-8">
        {{#if contentComplete}}
          <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-purple text-white text-center flex justify-center float-right"><img src="/img/icons/ConfirmWhite.svg" class="w-3 self-center"></span>
        {{else}}
          <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-white text-white text-center flex justify-center float-right border-2 border-purple"><img src="/img/icons/ConfirmPurple.svg" class="w-3 self-center"></span>
        {{/if}}
      </div>
    </div>
    <div class="flex items-center justify-center pb-8">
      <div class="w-3/4 flex justify-around">
        <div class="w-full">
          <p class="text-grey mb-2">Message</p>
          {{#debounced-value
              property=(get changeset "header")
              onChange=(action "loadChanges")
              wait=150
              as |debouncer|}}
            <input type="text" value={{changeset.header}} class="w-full border border-grey py-2 px-4 text-grey-dark rounded-lg flex font-semibold mt-4 bg-grey-lightest" placeholder="Add a title here..." oninput={{action debouncer value="target.value"}}>
          {{/debounced-value}}
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center pb-8">
      <div class="w-3/4 flex justify-around">
        <div class="w-full">
          {{#debounced-value
            property=(get changeset "description")
            onChange=(action "loadChanges")
            wait=50
            as |debouncer|}}
              {{pell-editor
                value=changeset.description
                onChange=(action debouncer value=value)
                pellOptions=pellOptions
                class="border border-grey rounded-lg text-grey-dark"
              }}
          {{/debounced-value}}
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center pb-8">
      <div class="w-3/4 flex justify-around">
        <div class="w-full">
          {{#debounced-value
              property=(get changeset "signatureFooter")
              onChange=(action "loadChanges")
              wait=150
              as |debouncer|}}
            <input type="text" value={{changeset.signatureFooter}} class="w-full border border-grey py-2 px-4 text-grey-dark rounded-lg flex font-semibold bg-grey-lightest" placeholder="Add a signature footer here" oninput={{action debouncer value="target.value"}}>
          {{/debounced-value}}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey-lightest">
    <div class="flex py-8 px-8 mx-4">
      <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Signature</h3>
      <div class="w-1/2 my-8">
        {{#if photosComplete}}
          <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-purple text-white text-center flex justify-center float-right"><img src="/img/icons/ConfirmWhite.svg" class="w-3 self-center"></span>
        {{else}}
          <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-white text-white text-center flex justify-center float-right border-2 border-purple"><img src="/img/icons/ConfirmPurple.svg" class="w-3 self-center"></span>
        {{/if}}
      </div>
    </div>

    <div class="flex items-center justify-center mb-12">
      <div class="w-3/4 flex justify-left -ml-8">
        <div class="w-full">
          {{signature-uploader}}
        </div>
      </div>
    </div>


    <div class="flex items-center justify-center">
      <div class="w-3/4 flex justify-around">
        <div class="w-full">
          <p class="text-grey mb-2">Library</p>
        </div>
      </div>
    </div>
    {{#debounced-value
      property=(get changeset "signature")
      onChange=(action "loadChanges" value)
      wait=50
      as |debouncer|}}
        {{signature-viewer
          value=changeset.signature
          onChange=(action debouncer value=value)
        }}
    {{/debounced-value}}
  </div>

  <div class="bg-white mb-12">
    <div class="flex py-2 px-8 mx-4">
      <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Receipt</h3>
      <div class="w-1/2 my-8">
        {{#if contentComplete}}
          <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-purple text-white text-center flex justify-center float-right"><img src="/img/icons/ConfirmWhite.svg" class="w-3 self-center"></span>
        {{else}}
          <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-white text-white text-center flex justify-center float-right border-2 border-purple"><img src="/img/icons/ConfirmPurple.svg" class="w-3 self-center"></span>
        {{/if}}
      </div>
    </div>
    <div class="flex items-center justify-center pb-8">
      <div class="w-3/4 flex justify-around">
        <div class="w-full">
          <p class="text-grey mb-2">Starting Receipt Stack #</p>
          {{#debounced-value
              property=(get changeset "stackStartingNumber")
              onChange=(action "loadChanges")
              wait=150
              as |debouncer|}}
            <input type="text" value={{changeset.stackStartingNumber}} class="w-full border border-grey py-2 px-4 text-grey-dark rounded-lg flex font-semibold mt-4" placeholder="0000000000" oninput={{action debouncer value="target.value"}}>
          {{/debounced-value}}
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center pb-8">
      <div class="w-3/4 flex justify-around">
        <div class="w-full">
          <p class="text-grey mb-2">CRA Website Link</p>
          {{#debounced-value
              property=(get changeset "craLink")
              onChange=(action "loadChanges")
              wait=150
              as |debouncer|}}
            <input type="text" value={{changeset.craLink}} class="w-full border border-grey py-2 px-4 text-grey-dark rounded-lg flex font-semibold" placeholder="www.cra-arc.gc.ca/charitiesandgiving" oninput={{action debouncer value="target.value"}}>
          {{/debounced-value}}
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center pb-8">
      <div class="w-3/4 flex justify-around">
        <div class="w-full">
          <p class="text-grey mb-2">Date Format</p>
            {{#debounced-value
                property=(get changeset "dateFormat")
                wait=50
                as |debouncer|}}
                {{#power-select
                  options=dateFormats
                  selected=changeset.dateFormat
                  searchEnabled=false
                  triggerClass="px-4 w-full text-grey rounded-lg bg-white border-grey-light py-2 text-sm font-bold font"
                  onchange=(action "updateDateFormat")
                  dropdownClass="fonts"
                  placeholder="Select a Date format" as |date|}}
                  <span class="text-lg text-left list-item">{{date}}</span>
                {{/power-select}}
            {{/debounced-value}}
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center relative">

    <div class="w-64 flex justify-around fixed h-12 -mt-2 pin-b push-right-288">
      <button class="w-1/2 bg-purple border-r border-1 border-white flex content-center justify-center rounded-tl-xl focus:outline-none" {{action "undo"}}>
        <p class="text-white mb-2 self-center text-sm">Undo <img src="/img/icons/arrow_right.png" class="w-2 rotate-90 ml-2 mt-2"/></p>
      </button>
      <button class="w-1/2 bg-purple flex justify-center content-center items-center focus:outline-none" {{action "redo"}}>
        <p class="text-white mb-2 self-center text-sm"><img src="/img/icons/arrow_left.png" class="w-2 rotate-90 mr-2 mt-2"/>Redo</p>
      </button>
    </div>
  </div>
  </form>
</div>

{{else}}
<div class="w-480 h-full bg-white shadow-lg relative z-10 overflow-y-scroll {{hidden}}">
  <div class="flex w-full shadow">
    <button class="w-1/2 bg-purple text-white font-semibold py-3 text-xl">Design</button>
    <button class="w-1/2 bg-white text-grey-darker text-lg shadow" onclick={{action 'toggleSidebar'}}>Receipt Details</button>
  </div>
  <div class="bg-grey-lightest">
    <div class="flex py-2 px-8 mx-4">
      <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Templates</h3>
      <div class="w-1/2 my-8">
        <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-purple text-white text-center flex justify-center float-right"><img src="/img/icons/ConfirmWhite.svg" class="w-3 self-center"></span>
      </div>
    </div>
    <div class="flex items-center justify-center pb-8">
      <div class="w-3/4 flex justify-left">

        {{#if (eq this.changeset.template 2)}}
          <img class="w-24" src="/img/Template_Preview_2.png"/>
        {{else}}
          <img class="w-24 opacity-50" src="/img/Template_Preview_2.png" {{action "renderSecondTemplate"}}/>
        {{/if}}

      </div>
    </div>
  </div>

  <div class="bg-grey-lightest">
    <div class="flex py-8 px-8 mx-4">
      <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Logo</h3>
      <div class="w-1/2 my-8">
        {{#if photosComplete}}
          <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-purple text-white text-center flex justify-center float-right"><img src="/img/icons/ConfirmWhite.svg" class="w-3 self-center"></span>
        {{else}}
          <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-white text-white text-center flex justify-center float-right border-2 border-purple"><img src="/img/icons/ConfirmPurple.svg" class="w-3 self-center"></span>
        {{/if}}
      </div>
    </div>

    <div class="flex items-center justify-center mb-12">
      <div class="w-3/4 flex justify-left -ml-8">
        <div class="w-full">
          {{logo-uploader}}
        </div>
      </div>
    </div>


    <div class="flex items-center justify-center">
      <div class="w-3/4 flex justify-around">
        <div class="w-full">
          <p class="text-grey mb-2">Library</p>
        </div>
      </div>
    </div>
    {{#debounced-value
      property=(get changeset "logo")
      onChange=(action "loadChanges" value)
      wait=50
      as |debouncer|}}
        {{logo-viewer
          value=changeset.logo
          onChange=(action debouncer value=value)
        }}
    {{/debounced-value}}
  </div>

  <div class="bg-white">
    <div class="flex py-8 px-8">
      <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Fonts & Colours</h3>
      <div class="w-1/2 my-8">
        {{#if fontsColoursComplete}}
          <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-purple text-white text-center flex justify-center float-right"><img src="/img/icons/ConfirmWhite.svg" class="w-3 self-center"></span>
        {{else}}
          <span class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-white text-white text-center flex justify-center float-right border-2 border-purple"><img src="/img/icons/ConfirmPurple.svg" class="w-3 self-center"></span>
        {{/if}}
      </div>
    </div>
    <div class="flex items-center justify-center pb-8">
      <div class="w-3/4 flex justify-left">
        <div class="w-full">
          <p class="text-grey mb-2">Font</p>
          {{#debounced-value
              property=(get changeset "font")
              wait=50
              as |debouncer|}}
              {{#power-select
                options=fonts
                selected=changeset.font
                searchEnabled=false
                triggerClass="px-4 w-full text-grey rounded-lg bg-white border-grey-light py-2 text-sm font-bold font"
                onchange=(action "updateText")
                dropdownClass="fonts"
                placeholder="Select a font..." as |font|}}
                <span style="{{html-safe-font font}}" class="text-lg text-left list-item">{{font}}</span>
              {{/power-select}}
          {{/debounced-value}}
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center mt-4">
      <div class="w-3/4 flex justify-around">
        <div class="w-1/2">
          <p class="text-grey mb-2">Colour Collections</p>
        </div>
        <div class="w-1/2">
        </div>
      </div>
    </div>

  {{#debounced-value
      property=(get "colourSet")
      onChange=(action "loadChanges")
      wait=50
      as |debouncer|}}
        {{template-colour-select
          value=colourSet
          onChange=(action "loadColourSet" value=value)
        }}
  {{/debounced-value}}

  <div class="flex items-center justify-center">
    <div class="w-3/4 flex justify-around">
      <h3 class="w-1/2 text-grey text-xl font-bold capitalize border-b border-grey pb-4">{{colourSet}}</h3>
      <div class="w-1/2 border-b border-grey pb-4 inline-flex justify-end">
        <p class="text-grey self-center">Light Mode</p>
        {{x-toggle
          theme='material'
          value=this.lightMode
          onToggle=(action "toggleLightMode")
        }}
      </div>
    </div>
  </div>
  <div class="mt-6">
    {{manual-colour-picker
       primaryColour=this.changeset.primaryColour
       secondaryColour=this.changeset.secondaryColour
       tertiaryColour=this.changeset.tertiaryColour
       quaternaryColour=this.changeset.quaternaryColour
       quinaryColour=this.changeset.quinaryColour
       onChange=(action "updateManualColour")
     }}
  </div>
  </div>

  <div class="flex items-center justify-center mt-4 relative">
    <div class="w-3/4 flex justify-around">
      <div class="w-full h-12">
      </div>
    </div>

    <div class="w-64 flex justify-around fixed h-12 -mt-2 pin-b push-right-288 z-20">
      <button class="w-1/2 bg-purple border-r border-1 border-white flex content-center justify-center rounded-tl-xl focus:outline-none" {{action "undo"}}>
        <p class="text-white mb-2 self-center text-sm">Undo <img src="/img/icons/arrow_right.png" class="w-2 rotate-90 ml-2 mt-2"/></p>
      </button>
      <button class="w-1/2 bg-purple flex justify-center content-center items-center focus:outline-none" {{action "redo"}}>
        <p class="text-white mb-2 self-center text-sm"><img src="/img/icons/arrow_left.png" class="w-2 rotate-90 mr-2 mt-2"/>Redo</p>
      </button>
    </div>
  </div>
</div>
{{/if}}
