<div class="flex items-center justify-center">
  <div class="w-3/4 flex justify-around">
    <img class="h-24 opacity-40 {{if (eq value "golden") "opacity-100"}}" src="/img/Colours-Golden.png" onclick={{action "loadColourSet" "golden"}} />
    <img class="h-24 opacity-40 {{if (eq value "ultra violet") "opacity-100"}}" src="/img/Colours-Ultra_Violet.png" onclick={{action "loadColourSet" "ultra violet"}}  />
    <img class="h-24 opacity-40 {{if (eq value "red") "opacity-100"}}" src="/img/Colours-Red.png" onclick={{action "loadColourSet" "red"}}  />
  </div>
</div>

<div class="flex items-center justify-center pb-8">
  <div class="w-3/4 flex justify-around">
    <img class="h-24 opacity-40 {{if (eq value "forest") "opacity-100"}}" src="/img/Colours-Forest.png" onclick={{action "loadColourSet" "forest"}} />
    <img class="h-24 opacity-40 {{if (eq value "tangerine") "opacity-100"}}" src="/img/Colours-Tangerine.png" onclick={{action "loadColourSet" "tangerine"}} />
    <img class="h-24 opacity-40 {{if (eq value "navy blue") "opacity-100"}}" src="/img/Colours-Navy_Blue.png" onclick={{action "loadColourSet" "navy blue"}} />
  </div>
</div>
