<div class="flex align-bottom mb-2 pb-2 px-8">
  <h2 class="flex-1 text-grey-darker text-lg pb-4 font-bold align-middle self-center ml-8">Transactions and Donor History</h2>
</div>

<div class="flex align-bottom px-8 mx-8 mb-8">
  {{#power-select options=filterOptions selected=filter searchEnabled=false triggerClass="w-32 py-2 text-purple rounded-full border border-purple font-thin px-4 rounded-full text-left text-sm float-right self-center" onchange=(action "filterBy") as |option|}}
    {{option}}
  {{/power-select}}
  <button class="flex-1 py-2 text-grey-light rounded-full border border-grey-light font-thin px-4 rounded-full text-left text-sm float-right self-center mx-8">
    Newest <img src="/img/icons/Search.svg" class="w-4 ml-2 float-right"/>
  </button>

  {{#power-select options=orderOptions selected=order searchEnabled=false triggerClass="w-28 py-2 text-purple rounded-full border border-purple font-thin px-4 rounded-full text-left text-sm float-right self-center" onchange=(action "orderBy") as |order|}}
    {{order}}
  {{/power-select}}

</div>

{{#if isDescending}}
  {{#each historyDesc as |item|}}
    {{transaction-history-item item=item status=item.status type=item.historyType on-click=(action "filterByClick")}}
  {{/each}}

{{else}}

{{#each historyAsc as |item|}}
  {{transaction-history-item item=item status=item.status type=item.historyType on-click=(action "filterByClick")}}
{{/each}}
{{/if}}
