{{#if successfulPayment}}
  <div class="flex align-bottom px-8 py-8 {{if focused 'focused'}}" onmouseenter={{action 'focusedIn'}} onmouseleave={{action 'focusedOut'}}>
    <div class="w-20 pl-8 flex justify-center">
      <img src="/img/icons/Money.svg" class="w-6 self-center"/>
    </div>
    <div class="w-64 flex pl-8">
      <p class="text-grey-darker pl-8 self-center">Payment Success <br /><span class="underline">{{item.frequency}}</span></p>
    </div>
    <div class="flex-1 flex pl-8">
      <p class="text-grey-darker pl-8 self-center">{{format-currency item.amount}} <br /><span class="">Coats for Canines</span></p>
    </div>
    <div class="w-32 flex justify-center">
      <p class="text-grey-darker self-center">{{moment-from-now item.timestamp}}</p>
    </div>
    <div class="w-48 flex justify-end pr-8">
      <span class="rounded-full inline-block h-2 w-2 items-center mx-1 relative bg-grey-light self-center"></span>
      <span class="ro unded-full inline-block h-2 w-2 items-center relative bg-grey-light self-center"></span>
      <span class="rounded-full inline-block h-2 w-2 items-center mx-1 relative bg-grey-light self-center"></span>
    </div>
  </div>
  {{/if}}
  {{#if registerRecurring}}
      <div class="flex align-bottom px-8 py-8 {{if focused 'focused'}}" onmouseenter={{action 'focusedIn'}} onmouseleave={{action 'focusedOut'}}>

      <div class="w-20 flex pl-8 justify-center">
        <img src="/img/icons/Redo.svg" class="w-6 self-center"/>
      </div>
      <div class="w-64 flex pl-8">
        <p class="text-grey-darker pl-8 self-center capitalize">New {{item.frequency}} gift</p>
      </div>
      <div class="flex-1 flex pl-8">
        <p class="text-grey-darker pl-8 self-center">{{format-currency item.amount}} <br /><span class="">Coats for Canines</span></p>
      </div>
      <div class="w-32 flex justify-center">
        <p class="text-grey-darker self-center">{{moment-from-now item.timestamp}}</p>
      </div>
      <div class="w-48 flex justify-end pr-8">
        <span class="rounded-full inline-block h-2 w-2 items-center mx-1 relative bg-grey-light self-center"></span>
        <span class="rounded-full inline-block h-2 w-2 items-center relative bg-grey-light self-center"></span>
        <span class="rounded-full inline-block h-2 w-2 items-center mx-1 relative bg-grey-light self-center"></span>
      </div>
    </div>
  {{/if}}
  {{#if updateRecurring}}
    <div class="flex align-bottom px-8 py-8 {{if focused 'focused'}}" onmouseenter={{action 'focusedIn'}} onmouseleave={{action 'focusedOut'}}>
      <div class="w-20 flex justify-center pl-8">
        <img src="/img/icons/Receipts.svg" class="w-6 self-center"/>
      </div>
      <div class="w-64 flex pl-8">
        <p class="text-grey-darker pl-8 self-center capitalize">Gift change</p>
      </div>
      <div class="flex-1 flex pl-8">
        <p class="text-grey-darker pl-8 pr-8 self-center capitalize">A {{format-currency item.beforeAmount}} gift was increased to {{format-currency item.afterAmount}} and changed from {{item.beforeFrequency}} to {{item.afterFrequency}}</p>
      </div>
      <div class="w-32 flex justify-center">
        <p class="text-grey-darker self-center">{{moment-from-now item.timestamp}}</p>
      </div>
      <div class="w-48 flex justify-end pr-8">
        <span class="rounded-full inline-block h-2 w-2 items-center mx-1 relative bg-grey-light self-center"></span>
        <span class="rounded-full inline-block h-2 w-2 items-center relative bg-grey-light self-center"></span>
        <span class="rounded-full inline-block h-2 w-2 items-center mx-1 relative bg-grey-light self-center"></span>
      </div>
    </div>
  {{/if}}

  {{#if cancelRecurring}}
    <div class="flex align-bottom px-8 py-8 {{if focused 'focused'}}" onmouseenter={{action 'focusedIn'}} onmouseleave={{action 'focusedOut'}}>
      <div class="w-20 flex justify-center pl-8">
        <img src="/img/icons/MoneyAlert.svg" class="w-6 self-center"/>
      </div>
      <div class="w-64 flex pl-8">
        <p class="text-grey-darker pl-8 self-center capitalize">Gift cancelled</p>
      </div>
      <div class="flex-1 flex pl-8">
        <p class="text-grey-darker pl-8 pr-8 self-center capitalize">A {{format-currency item.amount}} {{item.frequency}} gift was cancelled.</p>
      </div>
      <div class="w-32 flex justify-center">
        <p class="text-grey-darker self-center">{{moment-from-now item.timestamp}}</p>
      </div>
      <div class="w-48 flex justify-end pr-8">
        <span class="rounded-full inline-block h-2 w-2 items-center mx-1 relative bg-grey-light self-center"></span>
        <span class="rounded-full inline-block h-2 w-2 items-center relative bg-grey-light self-center"></span>
        <span class="rounded-full inline-block h-2 w-2 items-center mx-1 relative bg-grey-light self-center"></span>
      </div>
    </div>
  {{/if}}
