<div class="flex-1 min-h-screen h-screen bg-grey-lightest overflow-scroll flex flex-col">
  <div class="bg-purple-gradient shadow flex flex-col flex-wrap h-100">
    <section class="h-44 mx-2">
      <div class="flex px-8 justify-end flex-wrap mx-2">

        <div class="w-1/2 pt-6">
          <p class="text-white mt-1"><span class="font-bold capitalize">Planned Lifetime Advocacy Network</span> | Donor Manager</p>
        </div>

        <div class="w-1/2 text-right">
          <nav class="flex items-center justify-between flex-wrap py-6">
            <div class="w-full block flex-grow text-white">
              <div>
                <a class="inline-block mr-4 text-white no-underline align-middle" href="">
                  <img src="/img/icons/SearchWhite.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block mr-4 text-white no-underline align-middle" href="">
                  <img src="/img/icons/BellWhite.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block mr-1  no-underline" href="">
                  <img src="/img/icons/account-white.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block no-underline text-white font-bold text-sm align-middle" href="">
                  Rebecca Pauls
                </a>
              </div>
            </div>
          </nav>
        </div>


        <div class="w-1/4">
        </div>
      </div>
    </section>
    <section class="mt-8 w-full">
      <div class="my-8 mx-auto w-1/2">
        <h1 class="uppercase text-white text-base text-center mt-4">Search Donor Profile</h1>
        {{input type="text" class="w-full border border-grey py-2 px-4 text-grey-dark rounded flex font-semibold mt-4 bg-grey-lightest" placeholder="Type in a donor's name or email address" value=search}}

      </div>
    </section>
  </div>

  <div class="-mt-22 flex-grow mx-auto container">
    <div class="w-9/10 mt-8 shadow-lg rounded-xl bg-white mx-8 px-6 py-6 h flex h-55% flex-col">
      <div class="flex my-2 pt-4 pb-2 px-4 rounded justify-around items-center">
        <div class="capitalize text-grey-darker w-20 -ml-2 text-sm font-bold text-center">Donor ID</div>
        <div class="capitalize text-grey-darker w-48 text-sm font-bold">Name</div>
        <div class="capitalize text-grey-darker text-sm font-bold text-center">Creation Date</div>
        <div class="capitalize text-grey-darker text-sm font-bold text-center">Last Active Date</div>
      </div>
      <div class="overflow-scroll">
      {{#each donorsByIdAsc as |donor|}}
        {{#link-to "donors.show" donor.id class="no-underline"}}
          <div class="flex my-2 py-6 bg-grey-lightest px-4 rounded justify-around items-center text-center">
            <div class="capitalize text-grey-darker w-12 text-center">{{donor.id}}</div>
            <div class="capitalize text-grey-darker w-48 text-center flex items-center">
              <span class="text-sm bg-grey w-8 h-8 mr-4 flex items-center justify-center rounded-full uppercase">{{icon-creator donor.fname}}{{icon-creator donor.lname}}</span><p class="capitalize">{{donor.fname}} {{donor.lname}}</p></div>
            <div class="capitalize text-grey-darker text-center">{{moment-format donor.insertedAt 'MM/DD/YYYY'}}</div>
            <div class="capitalize text-grey-darker text-center">{{moment-format donor.updatedAt 'MM/DD/YYYY'}}</div>

          </div>
        {{/link-to}}
      {{/each}}
      </div>
    </div>
  </div>

  <section class="mt-4 container mx-auto">
    <div class="mx-8 mt-8">
    <div class="ml-4 flex w-full mt-6 mb-8 justify-center">
      <div class="w-1/2 pb-8 ml-8 mb-8 mt-8 flex">
        <img src="/img/Davos_logo.svg" class="w-24 inline-block self-center mr-4">
        <p class="text-grey-light-list text-sm font-bold inline-block self-center">© 2019 Davos.gives</p>
        <p class="text-grey-light-list ml-2 text-sm inline-block self-center">All rights reserved.</p>
      </div>
    </div>
    </div>
  </section>
</div>
