{{donor-sidebar donor=model addresses=model.addresses addTag=(action "addTag") deleteTag=(action "deleteTag")}}

<div class="min-h-screen h-screen bg-grey-lightest w-full overflow-scroll">
  <div class="bg-purple-gradient h-100">
    <section class="h-44 mx-2">
      <div class="flex px-8 justify-end flex-wrap mx-2">

        <div class="w-1/2 pt-6">
          <p class="text-white mt-1"><span class="font-bold capitalize">{{model.fname}} {{model.lname}}</span> | Active Donor</p>
        </div>

        <div class="w-1/2 text-right">
          <nav class="flex items-center justify-between flex-wrap py-6">
            <div class="w-full block flex-grow text-white">
              <div>
                <a class="inline-block mr-4 text-white no-underline align-middle" href="">
                  <img src="/img/icons/SearchWhite.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block mr-4 text-white no-underline align-middle" href="">
                  <img src="/img/icons/BellWhite.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block mr-1  no-underline" href="">
                  <img src="/img/icons/account-white.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block no-underline text-white font-bold text-sm align-middle" href="">
                  Ryan Klesc
                </a>
              </div>
            </div>
          </nav>
        </div>


        <div class="w-1/4">
        </div>
      </div>
    </section>
    <section class="mt-8 container mx-auto">
      {{donor-featured-info
        yearlyDonationAmount=yearlyDonationAmount
        yearlyDonations=yearlyDonations
        donations=model.payments
        totalDonations=totalDonations
        first=firstOrderedGift
        last=lastOrderedGift
        }}
    </section>
  </div>

  <section class="flex -mt-22 container mx-auto">
      <div class="w-9/10 mt-8 ml-8 shadow-lg rounded-xl bg-white mr-8">
        {{outlet}}
      </div>
    </section>


  <section class="mx-4 mt-8">
    <div class="mx-4 mt-8">
    <div class="ml-4 flex w-full mt-6 mb-8 justify-center">
      <div class="pb-8 ml-8 mb-8 mt-8 flex">
        <img src="/img/Davos_logo.svg" class="w-24 inline-block self-center mr-4">
        <p class="text-grey-light-list text-sm font-bold inline-block self-center">© 2019 Davos.gives</p>
        <p class="text-grey-light-list ml-2 text-sm inline-block self-center">All rights reserved.</p>
      </div>
    </div>
    </div>
  </section>
</div>
