{{receipt-template-sidebar
  template=model
  visible=sidebarVisible
  saved=saved
  updateTemplate=(action "updateTemplate")
  saveChanges=(action "saveChanges")
}}

<div class="flex-1 min-h-screen h-screen bg-white overflow-y-scroll">
  <section class="h-44 mx-2">
    <div class="flex px-8 justify-end flex-wrap mx-2">

      <div class="w-1/2 pt-6">
        <p class="text-grey-darker mt-1"><img src="/img/icons/ChevronDown.svg" class="w-4 rotate-270 mr-4" /><span
            class="font-bold">{{currentUser.user.organization.name}}</span> | Dashboard</p>
      </div>

      <div class="w-1/2 text-right">
        <nav class="flex items-center justify-between flex-wrap py-6">
          <div class="w-full block flex-grow text-white">
            <div>
              <!-- <a class="inline-block mr-4 text-white no-underline align-middle" href="">
                <img src="/img/icons/Search.svg" class="w-4 align-middle" />
              </a>
              <a class="inline-block mr-4 text-white no-underline align-middle" href="">
                <img src="/img/icons/Bell.svg" class="w-4 align-middle" />
              </a> -->
              <a class="inline-block mr-1  no-underline" href="">
                <img src="/img/icons/account.svg" class="w-4 align-middle" />
              </a>
              {{#basic-dropdown as |dropdown|}}
              {{#dropdown.trigger class="inline-block ml-2 logout"}}
              <button
                class="inline-block no-underline text-grey-darker font-hairline text-sm align-middle font-bold capitalize focus:outline-none active:outline-none">
                {{currentUser.user.fname}} {{currentUser.user.lname}}
              </button>{{/dropdown.trigger}}
              {{#dropdown.content class="px-4 py-1 rounded w-32 mt-2 bg-purple-dark"}}
              <a href="" class="no-underline text-sm text-white" onclick={{action "logout"}}>Logout</a>
              {{/dropdown.content}}
              {{/basic-dropdown}}
            </div>
          </div>
        </nav>
      </div>


      <div class="w-1/4">
      </div>
    </div>
  </section>
  <div class="flex justify-between w-3/4 mx-auto items-center mt-8">
    <div>
      <button
        class="self-center py-1 text-white rounded-full border border-purple bg-purple font-thin rounded-full text-center text-sm float-right self-center mx-8 px-6 focus:outline-none"
        {{action "toggleSidebar"}}>
        <img src="/img/icons/full_screen.png" class="w-4 pt-1" />
      </button>
    </div>
    <div>
      <button
        class="self-center py-2 text-white rounded-full border border-purple bg-purple font-thin px-4 rounded-full text-center text-sm float-right self-center mx-1"
        {{action "saveDraft"}}>
        Save
      </button>
      <button
        class="self-center py-2 rounded-full border border-grey text-grey font-semibold font-thin px-4 rounded-full text-center text-sm float-right self-center mx-1">
        Publish
      </button>
    </div>

  </div>
  <div class="flex h-8/10 justify-center w-auto">
    <div class="receipt-preview mt-6 {{if sidebarVisible '' 'full-screen'}} {{if previewMobile 'mobile' ''}}">
      <iframe src="https://staging-app.davos.gives/receipt_templates/1" frameborder="0" id="my-iframe"
        class="iframe shadow-lg mb-12"></iframe>
    </div>
  </div>
</div>