<div class="flex-1 min-h-screen h-screen bg-grey-lightest overflow-scroll flex flex-col">
  <div class="bg-purple-gradient shadow flex flex-col flex-wrap h-100">
    <section class="h-44 mx-2">
      <div class="flex px-8 justify-end flex-wrap mx-2">

        <div class="w-1/2 pt-6">
          <p class="text-white mt-1"><span class="font-bold capitalize">{{currentUser.user.organization.name}}</span> | Receipt Manager</p>
        </div>

        <div class="w-1/2 text-right">
          <nav class="flex items-center justify-between flex-wrap py-6">
            <div class="w-full block flex-grow text-white">
              <div>
                <!-- <a class="inline-block mr-4 text-white no-underline align-middle" href="">
                  <img src="/img/icons/SearchWhite.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block mr-4 text-white no-underline align-middle" href="">
                  <img src="/img/icons/BellWhite.svg" class="w-4 align-middle" />
                </a> -->
                <a class="inline-block mr-1  no-underline" href="">
                  <img src="/img/icons/account-white.svg" class="w-4 align-middle" />
                </a>
                {{#basic-dropdown as |dropdown|}}
                {{#dropdown.trigger class="inline-block ml-2 logout"}}
                  <button class="inline-block no-underline text-white font-hairline text-sm align-middle font-bold capitalize focus:outline-none active:outline-none">
                    {{currentUser.user.fname}} {{currentUser.user.lname}}
                  </button>{{/dropdown.trigger}}
                {{#dropdown.content class="px-4 py-1 rounded w-32 mt-2 bg-purple-dark"}}
                  <a href="" class="no-underline text-sm text-white" onclick={{action "logout"}}>Logout</a>
                {{/dropdown.content}}
              {{/basic-dropdown}}
              </div>
            </div>
          </nav>
        </div>


        <div class="w-1/4">
        </div>
      </div>
    </section>
  </div>

  <section class="flex flex-wrap w-3/4 mx-auto justify-between">

  <div class="-mt-22 mx-auto w-1/3">
    <div class="w-9/10 mt-8 shadow-lg rounded-xl bg-white mx-8 px-6 py-6 h flex h-55% flex-col">
      <div class="flex my-2 pt-4 pb-2 px-4 rounded justify-start">
        <div class="capitalize text-grey-darker w-48 text-lg font-bold">Receipt Stacks</div>
      </div>
      <div class="flex-grow">
        <div class="w-full">
          {{#link-to "receipts.edit" this.model.receiptTemplate class="no-underline"}}
            <div class="flex my-2 py-6 bg-grey-lightest px-4 rounded justify-around items-center flex-wrap">
              <div class="capitalize text-grey-darker text-left font-bold w-full pb-4">{{this.model.receiptTemplate.header}}</div>
              <div class="capitalize text-grey-darker text-center">Starting at 0</div>
              <div class="capitalize text-grey-darker text-center">currently At 28</div>
              <div class="capitalize text-grey-darker text-center">one-time gifts</div>

            </div>
          {{/link-to}}

        </div>
      </div>
      <div class="flex flex-wrap justify-center">
        {{#link-to "receipts.create" class="no-underline"}}
          <button class="rounded-full bg-purple text-white font-thin py-2 px-4 rounded-full block z-10 hover:shadow-lg capitalize mr-4 text-lg">Build Receipt</button>
        {{/link-to}}
      </div>
    </div>
  </div>


  <div class="-mt-22 flex-grow mx-auto ml-8">
    <div class="w-9/10 mt-8 shadow-lg rounded-xl bg-white mx-8 px-6 py-6 h flex h-55% flex-col">
      <div class="flex my-2 pt-4 pb-2 px-4 rounded">
        <div class="capitalize text-grey-darker w-48 text-lg font-bold">Recent Receipts</div>

      </div>
      <div class="overflow-scroll flex-grow mb-8">
      {{#each this.model.receipts as |receipt|}}
          <div class="flex my-2 py-6 bg-grey-lightest px-4 rounded justify-around items-center text-center">
            <div class="capitalize text-grey-darker w-12 text-center">{{receipt.receiptNumber}}</div>
            <div class="capitalize text-grey-darker w-48 text-center flex items-center">
              <span class="text-sm bg-grey w-8 h-8 mr-4 flex items-center justify-center rounded-full uppercase">{{icon-creator receipt.fname}}{{icon-creator receipt.lname}}</span><p class="capitalize">{{receipt.fname}} {{receipt.lname}}</p></div>
            <div class="capitalize text-grey-darker text-center">{{moment-format receipt.insertedAt 'MM/DD/YYYY'}}</div>
          </div>
      {{/each}}
      </div>
      <div class="flex justify-center">
        {{#link-to "receipts.search" class="no-underline"}}
          <button class="rounded-full bg-purple text-white font-thin py-2 px-4 rounded-full block z-10 hover:shadow-lg capitalize mr-4 text-lg">View More</button>
        {{/link-to}}
      </div>
    </div>
  </div>
</section>

  <section class="mt-4 container mx-auto">
    <div class="mx-8 mt-8">
    <div class="ml-4 flex w-full mt-6 mb-8 justify-center">
      <div class="pb-8 ml-8 mb-8 mt-8 flex">
        <img src="/img/Davos_logo.svg" class="w-24 inline-block self-center mr-4">
        <p class="text-grey-light-list text-sm font-bold inline-block self-center">© 2019 Davos.gives</p>
        <p class="text-grey-light-list ml-2 text-sm inline-block self-center">All rights reserved.</p>
      </div>
    </div>
    </div>
  </section>
</div>
