<div class="w-480 h-full bg-white shadow-lg">
  <div class="bg-white pb-8 px-8 mx-8 pt-8 mt-8">
    <h2 class="px-4 mx-4 text-3xl text-grey-darker font-medium pt-8 w-3/5">Create Campaigns in 3 easy steps</h2>
    <div class="my-8 w-full">
      <div class="flex ml-4 pl-4 items-center my-4 pt-2 justify-between">
        <p class="text-lg text-grey-dark leading-tight w-48">Design your personalized layout</p>
        <img src="/img/Campaign_icons-01.png" class="w-16 h-auto"/>
      </div>
      <div class="flex ml-4 pl-4 items-center my-4 pt-8 justify-between">
        <p class="text-lg text-grey-dark leading-tight w-48">Set a name, duration and goal of the campaign</p>
        <img src="/img/Campaign_icons-02.png" class="w-20 h-auto"/>
      </div>
      <div class="flex ml-4 pl-4 items-center my-4 pt-8 justify-between">
        <p class="text-lg text-grey-dark leading-tight w-48">Promote and give meaning!</p>
        <img src="/img/Campaign_icons-03.png" class="w-20 h-auto"/>
      </div>
    </div>
    <div class="pt-8">
      <div class="w-full flex flex-wrap justify-center focused-buttons pt-4">
        {{#link-to "campaigns.create"}}
          <button class="w-48 self-center py-2 text-white rounded-full border border-purple bg-purple font-thin px-4 rounded-full text-center text-sm float-right self-center mx-8">
            Create New
          </button>
        {{/link-to}}

      </div>
    </div>
  </div>
</div>

<div class="flex-1 min-h-screen h-screen bg-grey-lightest overflow-scroll flex flex-col">
  <div class="bg-purple-gradient h-100 shadow">
    <section class="h-44 mx-2">
      <div class="flex px-8 justify-end flex-wrap mx-2">

        <div class="w-1/2 pt-6">
          <p class="text-white mt-1"><span class="font-bold capitalize">{{currentUser.user.organization.name}}</span> | Create Campaign</p>
        </div>

        <div class="w-1/2 text-right">
          <nav class="flex items-center justify-between flex-wrap py-6">
            <div class="w-full block flex-grow text-white">
              <div>
                <!-- <a class="inline-block mr-4 text-white no-underline align-middle" href="">
                  <img src="/img/icons/SearchWhite.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block mr-4 text-white no-underline align-middle" href="">
                  <img src="/img/icons/BellWhite.svg" class="w-4 align-middle" />
                </a> -->
                <a class="inline-block mr-1  no-underline" href="">
                  <img src="/img/icons/account-white.svg" class="w-4 align-middle" />
                </a>

                  {{#basic-dropdown as |dropdown|}}
                  {{#dropdown.trigger class="inline-block ml-2 logout"}}
                    <button class="inline-block no-underline text-white font-hairline text-sm align-middle font-bold capitalize focus:outline-none active:outline-none">
                      {{currentUser.user.fname}} {{currentUser.user.lname}}
                    </button>{{/dropdown.trigger}}
                  {{#dropdown.content class="px-4 py-1 rounded w-32 mt-2 bg-purple-dark"}}
                    <a href="" class="no-underline text-sm text-white" onclick={{action "logout"}}>Logout</a>
                  {{/dropdown.content}}
                {{/basic-dropdown}}
              </div>
            </div>
          </nav>
        </div>


        <div class="w-1/4">
        </div>
      </div>
    </section>
    <section class="mt-8 container mx-auto">
      <div class="ml-8 px-8 my-8">
        <h1 class="font-semibold pl-8 text-white text-2xl tracking-wide">Your Campaigns</h1>
      </div>
      <div class="flex mx-8 px-8 items-baseline">
        <div class="w-1/4 ml-8 mr-8 relative">
          <div class="w-full">
            <p class="text-white text-base font-medium tracking-wide cursor-pointer {{unless showActiveCampaigns "border-b-4 border-solid border-white pb-4 w-4/5"}}" {{action "toggleCampaignView"}}>Unpublished Campaigns</p>
          </div>
        </div>
        <div class="w-1/4">
          <div class="">
            <p
              class="text-white text-base font-normal tracking-wide cursor-pointer {{if showActiveCampaigns "border-b-4 border-solid border-white pb-4 w-3/5"}}"
              {{action "toggleCampaignView"}}>Active Campaigns</p>
          </div>
        </div>
        <div class="w-1/4">
          {{#link-to "campaigns.create" class="no-underline"}}
            <div class="w-full flex mt-4">
                <button class="py-2 w-3/4 text-purple rounded-full border border-grey-lightest font-thin px-8 shadow rounded-full text-center text-sm float-right self-center bg-white">Create New</button>
            </div>
          {{/link-to}}
        </div>
        <div class="w-1/4">
        </div>
      </div>

    </section>
  </div>
  <div class="-mt-12 flex-grow">
    {{#if showActiveCampaigns}}
      {{#each activeCampaigns as |campaign|}}
        <div class="flex py-4 ml-20 px-8 shadow-lg rounded-xl bg-white mt-6 w-1/3 justify-between group">
          <div class="">
            <p class="leading-normal pt-4"><span class="font-bold text-grey-darkest">{{campaign.name}}</span></p>
            <p class="leading-normal"><span class="text-grey-dark">Created on</span> {{moment-format campaign.createdAt 'MM/DD/YYYY'}}</p>
          </div>
          <div class="flex items-center group-hover:hidden">
            <div class="w-24 flex flex-col">
              <span class="rounded-full inline-block h-2 w-2 my-px items-center mx-1 relative bg-grey-darker self-center"></span>
              <span class="rounded-full inline-block h-2 w-2 my-px items-center relative bg-grey-darker self-center"></span>
              <span class="rounded-full inline-block h-2 w-2 my-px items-center mx-1 relative bg-grey-darker self-center"></span>
            </div>
          </div>
          <div class="items-center hidden group-hover:block">
            <div class="w-48 flex flex-wrap justify-end focused-buttons">
              {{#link-to "campaigns.edit" campaign class="w-3/5 py-2 text-white rounded-full border border-purple bg-purple font-thin px-2 rounded-full text-center text-sm float-right self-center ml-8 no-underline"}}
                Edit
              {{/link-to}}
              <button class="w-3/5 py-2 my-1 text-purple rounded-full border border-purple font-thin px-2 rounded-full text-center text-sm float-right self-center ml-8">
                Duplicate
              </button>
              <button class="w-3/5 py-2 text-purple rounded-full border border-purple font-thin px-2 rounded-full text-center text-sm float-right self-center ml-8">
                Unpublish
              </button>
            </div>
          </div>

        </div>
      {{/each}}
    {{else}}
      {{#each unpublishedCampaigns as |campaign|}}
        <div class="flex py-4 ml-20 px-8 shadow-lg rounded-xl bg-white mt-6 w-1/3 justify-between group">
          <div class="">
            <p class="leading-normal pt-4"><span class="font-bold text-grey-darkest">{{campaign.name}}</span></p>
            <p class="leading-normal"><span class="text-grey-dark">Created on</span> {{moment-format campaign.createdAt 'MM/DD/YYYY'}}</p>
            <p class="leading-normal pb-4"><span class="text-grey-dark">by</span> Rebecca Pauls</p>
          </div>
          <div class="flex items-center group-hover:hidden">
            <div class="w-24 flex flex-col">
              <span class="rounded-full inline-block h-2 w-2 my-px items-center mx-1 relative bg-grey-darker self-center"></span>
              <span class="rounded-full inline-block h-2 w-2 my-px items-center relative bg-grey-darker self-center"></span>
              <span class="rounded-full inline-block h-2 w-2 my-px items-center mx-1 relative bg-grey-darker self-center"></span>
            </div>
          </div>
          <div class="items-center hidden group-hover:block">
            <div class="w-48 flex flex-wrap justify-end focused-buttons">
              {{#link-to "campaigns.edit" campaign class="w-3/5 py-2 text-white rounded-full border border-purple bg-purple font-thin px-2 rounded-full text-center text-sm float-right self-center ml-8 no-underline"}}
                Edit
              {{/link-to}}
              <button class="w-3/5 py-2 my-1 text-purple rounded-full border border-purple font-thin px-2 rounded-full text-center text-sm float-right self-center ml-8">
                Duplicate
              </button>
              <button class="w-3/5 py-2 text-purple rounded-full border border-purple font-thin px-2 rounded-full text-center text-sm float-right self-center ml-8">
                Archive
              </button>
            </div>
          </div>

        </div>
      {{/each}}
    {{/if}}


  </div>


  <section class="mt-4 container mx-auto">
    <div class="mx-8 mt-8">
    <div class="ml-4 flex w-full mt-6 mb-8 justify-center">
      <div class="w-1/2 pb-8 ml-8 mb-8 mt-8 flex">
        <img src="/img/Davos_logo.svg" class="w-24 inline-block self-center mr-4">
        <p class="text-grey-light-list text-sm font-bold inline-block self-center">© 2019 Davos.gives</p>
        <p class="text-grey-light-list ml-2 text-sm inline-block self-center">All rights reserved.</p>
      </div>
    </div>
    </div>
  </section>
</div>
