<div class="w-420 h-full bg-purple-gradient">
  <div class="bg-purple-darker pb-8">
    <button class="bg-offwhite text-purple-darker font-thin py-2 px-4 rounded-r-full my-8">
      <span class="rounded-full inline-block h-2 w-2 items-center mx-2 mr-4 relative bg-purple-darker"></span>Today
    </button>
    <div class="flex flex-wrap">
      <div class="w-1/2 px-8 pb-4">
        <p class="pl-8 text-white opacity-75 text-xl font-medium mb-2">{{format-currency dailyDonationTotal}}</p>
        <p class="pl-8 text-white text-sm leading-normal">Funds Raised</p>
      </div>
      <div class="w-1/2 px-8 pb-4">
        <p class="text-white opacity-75 text-xl font-medium mb-2">{{newDonorsTodayCount}}</p>
        <p class="text-white text-sm leading-normal">New Donors</p>
      </div>
      <div class="w-1/2 h-1 px-8">
        <div class="ml-8 bg-grey h-2px w-12 opacity-50"></div>
      </div>
      <div class="w-1/2 h-1 px-8">
        <div class="bg-grey h-2px w-12 opacity-50"></div>
      </div>
      <div class="w-1/2 px-8 pb-4 pt-4">
        <p class="ml-8 text-white opacity-75 text-xl font-medium mb-2">{{OneTimeGiftsTodayCount}}</p>
        <p class="ml-8 text-white text-sm leading-normal">One Time <br />Gifts</p>
      </div>
      <div class="w-1/2 px-8 pb-4 pt-4">
        <p class="text-white opacity-75 text-xl font-medium mb-2">{{recurringGiftsTodayCount}}</p>
        <p class="text-white text-sm leading-normal">Ongoing <br />Gifts</p>
      </div>
    </div>
  </div>

  <div class="pb-8 h-screen">
    <button class="bg-teal bg-purple-buttons text-white font-thin py-2 pr-8 px-4 rounded-r-full mb-8 relative top-10">
     <span class="rounded-full inline-block h-2 w-2 items-center mx-2 mr-4 relative bg-white"></span>Recent gifts
    </button>

    <div class="flex flex-wrap w-4/5 mx-auto overflow-scroll h-100 pr-8">

      {{live-stream updates=liveGifts}}

    </div>
  </div>

</div>

<div class="flex-1 min-h-screen h-screen bg-grey-lightest overflow-scroll ">
  <div class="bg-grey-lighter h-70">
    <section class="h-44 mx-2">
      <div class="flex px-8 justify-end flex-wrap mx-2">

        <div class="w-1/2 pt-6">
          <p class="text-purple mt-1"><span class="font-bold">Barks & Meows Shelter</span> | Dashboard</p>
        </div>

        <div class="w-1/2 text-right">
          <nav class="flex items-center justify-between flex-wrap py-6">
            <div class="w-full block flex-grow text-white">
              <div>
                <a class="inline-block mr-4 text-white no-underline align-middle" href="">
                  <img src="/img/icons/Search.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block mr-4 text-white no-underline align-middle" href="">
                  <img src="/img/icons/Bell.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block mr-1  no-underline" href="">
                  <img src="/img/icons/account.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block no-underline text-grey-darker font-hairline text-sm align-middle font-bold" href="">
                  Ian Knauer
                </a>
              </div>
            </div>
          </nav>
        </div>


        <div class="w-1/4">
        </div>
      </div>
    </section>
    <section class="mx-2 mt-6 container mx-auto">
      <div class="flex mx-8 px-8 ">
        <div class="w-1/4 ml-8">
          <p class="text-grey-darker text-sm uppercase font-bold mb-2">Funds Raised This Year</p>
          <p class="text-purple font-bold text-2xl">{{format-currency donationsTotal}}</p>
        </div>
        <div class="w-1/4">
          <p class="text-grey-darker text-sm uppercase font-bold mb-2">Average Donation</p>
          <p class="text-purple font-bold text-2xl">{{format-currency averageDonation}}</p>
        </div>
        <div class="w-1/4">
          <p class="text-grey-darker text-sm uppercase font-bold mb-2">Active Supporters</p>
          <p class="text-purple font-bold text-2xl">{{donorCount}}</p>
        </div>
        <div class="w-1/4">
          <p class="text-grey-darker text-sm uppercase font-bold mb-2">Active Campaigns</p>
          <p class="text-purple font-bold text-2xl">3</p>
        </div>
      </div>
    </section>
  </div>

    <section class="flex -mt-20 container mx-auto">
      {{monthly-dashboard
        gifts=model.payments
      }}

      {{campaign-list campaigns=model.campaigns}}
    </section>


  <section class="container mx-auto">
    <div class="mx-8">
      {{donor-list donors=model.donors donations=model.payments}}
    </div>
  </section>


  <section class="mt-4 container mx-auto">
    <div class="mx-8 mt-8">
    <div class="ml-4 flex w-full mt-6 mb-8 justify-center">
      <div class="w-1/2 pb-8 ml-8 mb-8 mt-8 flex">
        <img src="/img/Davos_logo.svg" class="w-24 inline-block self-center mr-4">
        <p class="text-grey-light-list text-sm font-bold inline-block self-center">© 2018 Davos.gives</p>
        <p class="text-grey-light-list ml-2 text-sm inline-block self-center">All rights reserved.</p>
      </div>
    </div>
    </div>
  </section>
</div>
