<div class="w-1/4 h-full bg-purple-gradient">
  <div class="bg-purple-darker pb-8">
    <button class="bg-purple-light bg-purple-buttons text-white font-thin py-2 px-4 rounded-r-full my-8">
     <img src="/img/icons/ChevronWhite.svg" class="w-3 mr-4"/>Today
    </button>
    <div class="flex flex-wrap">
      <div class="w-1/2 px-8 pb-4">
        <p class="pl-8 text-white opacity-75 text-xl font-medium mb-2">{{format-currency dailyDonationTotal}}</p>
        <p class="pl-8 text-white text-xs">Funds Raised</p>
      </div>
      <div class="w-1/2 px-8 pb-4">
        <p class="text-white opacity-75 text-xl font-medium mb-2">{{newDonorsTodayCount}}</p>
        <p class="text-white text-xs">New Donors</p>
      </div>
      <div class="w-1/2 h-1 px-8">
        <div class="ml-8 bg-grey h-2px w-12 opacity-50"></div>
      </div>
      <div class="w-1/2 h-1 px-8">
        <div class="bg-grey h-2px w-12 opacity-50"></div>
      </div>
      <div class="w-1/2 px-8 pb-4 pt-4">
        <p class="ml-8 text-white opacity-75 text-xl font-medium mb-2">{{OneTimeGiftsTodayCount}}</p>
        <p class="ml-8 text-white text-xs">One Time <br />Gifts</p>
      </div>
      <div class="w-1/2 px-8 pb-4 pt-4">
        <p class="text-white opacity-75 text-xl font-medium mb-2">{{recurringGiftsTodayCount}}</p>
        <p class="text-white text-xs">Recurring <br />Gifts</p>
      </div>
    </div>
  </div>

  <div class="pb-8 h-screen">
    <button class="bg-teal bg-purple-buttons text-white font-thin py-2 pr-8 px-4 rounded-r-full mb-8 relative top-10">
     <span class="rounded-full inline-block h-2 w-2 items-center mx-2 mr-4 relative bg-white"></span>Live
    </button>

    <div class="flex flex-wrap w-4/5 mx-auto overflow-scroll h-100 pr-8">

      {{live-stream updates=liveGifts}}

    </div>
  </div>

</div>

<div class="w-3/4 min-h-screen h-screen bg-grey-lightest container overflow-scroll">
  <div class="bg-grey-lighter h-70">
    <section class="h-44 mx-2">
      <div class="flex px-8 justify-end flex-wrap mx-2">

        <div class="w-1/2 pt-6">
          <p class="text-purple mt-1"><span class="font-bold">Barks & Meows Shelter</span> | Dashboard</p>
        </div>

        <div class="w-1/2 text-right">
          <nav class="flex items-center justify-between flex-wrap py-6">
            <div class="w-full block flex-grow text-white">
              <div>
                <a class="inline-block mr-6 text-white no-underline align-middle" href="">
                  <img src="/img/icons/Search.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block mr-6 text-white no-underline align-middle" href="">
                  <img src="/img/icons/Bell.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block mr-1  no-underline" href="">
                  <img src="/img/icons/account-white.svg" class="w-4 align-middle" />
                </a>
                <a class="inline-block no-underline text-grey-darker font-hairline text-sm align-middle" href="">
                  Ian Knauer
                </a>
              </div>
            </div>
          </nav>
        </div>


        <div class="w-1/4">
        </div>
      </div>
    </section>
    <section class="mx-2 mt-6">
      <div class="flex mx-8 px-8">
        <div class="w-1/4 ml-8">
          <p class="text-grey-darker text-sm uppercase font-bold mb-2">Funds Raised This Year</p>
          <p class="text-purple font-bold text-2xl">{{format-currency donationsTotal}}</p>
        </div>
        <div class="w-1/4">
          <p class="text-grey-darker text-sm uppercase font-bold mb-2">Average Donation</p>
          <p class="text-purple font-bold text-2xl">{{format-currency averageDonation}}</p>
        </div>
        <div class="w-1/4">
          <p class="text-grey-darker text-sm uppercase font-bold mb-2">Active Supporters</p>
          <p class="text-purple font-bold text-2xl">221</p>
        </div>
        <div class="w-1/4">
          <p class="text-grey-darker text-sm uppercase font-bold mb-2">Active Campaigns</p>
          <p class="text-purple font-bold text-2xl">3</p>
        </div>
      </div>
    </section>
  </div>

    <section class="ml-2 flex -mt-20">
      <div class="w-1/2 ml-2">
        <div class="flex flex-wrap ml-8 p-8 shadow-lg rounded-lg mt-8 bg-white">
          <div class="w-1/2">
            <p class="text-grey-darker text-lg pb-4 font-bold mb-8">Funds Raised $3,014.<span class="text-xs">75</span></p>
            <p class="text-grey-darker text-xs"><span class="rounded-full inline-block h-3 w-3 items-center mx-1 bg-yellow-dark mr-3"></span>One Time Gifts <span class="text-lg pl-3 font-hairline">$2,425.40</span></p>
            <p class="text-grey-darker text-xs mt-2"><span class="rounded-full inline-block h-3 w-3 items-center mx-1 bg-purple mr-3"></span>Recurring Gifts <span class="text-lg pl-3 font-hairline">$589.35</span></p>
          </div>
          <div class="w-1/2">
            <button class="w-30 py-2 -mt-2 text-purple rounded-full border border-purple font-thin px-4 rounded-full text-left text-sm float-right mb-6">
              Apr <img src="/img/icons/ChevronDownPurple.svg" class="w-4 ml-8"/>
            </button>
            <button class="py-2 mt-6 w-30 text-white rounded-full bg-purple text-sm font-thin px-4 rounded-full float-right">
              Add Annotation <img src="/img/icons/ChevronDown.svg" class="w-4 ml-2"/>
            </button>
          </div>
          <div class="w-full">
            <img src="/img/graph.png" class="w-full"/>
          </div>
          <div class="w-full mt-8 mb-3">
            <p class="text-grey-darker pb-4 font-light tracking-wide">Marketing Breakdown</p>
          </div>
          <div class="w-1/2">
            <img src="/img/marketing-pie.png"  class="w-48 pl-4"/>
          </div>
          <div class="w-1/2 pt-8">
            <p class="text-grey-darker text-sm"><span class="rounded-full inline-block h-3 w-3  items-center mx-1 bg-purple-darker"></span><span class="text-lg pl-3 font-bold mr-8">40%</span>Email</p>
            <p class="text-grey-darker text-sm mt-2"><span class="rounded-full inline-block h-3 w-3  items-center mx-1 bg-teal"></span><span class="text-lg pl-3 font-bold mr-8">34%</span>Website</p>
            <p class="text-grey-darker text-sm mt-2"><span class="rounded-full inline-block h-3 w-3  items-center mx-1 bg-yellow-dark"></span><span class="text-lg pl-3 font-bold mr-8">15%</span>Facebook</p>
            <p class="text-grey-darker text-sm mt-2"><span class="rounded-full inline-block h-3 w-3  items-center mx-1 bg-orange-dark"></span><span class="text-lg pl-3 font-bold mr-8">11%</span>Twitter</p>

            <button class="mt-8 float-right py-2 text-purple inline-block rounded-full border border-purple font-thin px-4 rounded-full text-left text-sm ">
              More</button>
          </div>
        </div>
      </div>

      <div class="w-1/2 mt-8 ml-8 shadow-lg rounded-lg bg-white mr-8">
        <div class="w-full bg-white rounded-lg p-8">
          <div class="flex align-bottom mb-8 pb-8">
            <h2 class="flex-1 text-grey-darker text-lg pb-4 font-bold align-middle self-center">Active Campaigns</h2>
            <p class="text-sm text-grey-darker self-center pr-4 -mt-4">Sort by</p>
            <button class="w-28 py-2 text-purple rounded-full border border-purple font-thin px-4 rounded-full text-left text-sm float-right self-center -mt-4">
              Newest <img src="/img/icons/ChevronDownPurple.svg" class="w-4 ml-2"/>
            </button>
          </div>
          <div class="flex flex-wrap px-8 mt-8 mr-4 pt-4">
            <div class="w-1/2 mt-8">
              <p class="text-grey-darker"><span class="font-bold">01.</span> Winter Coats for Dogs. Lorem ipsum dolor sit...</p>
              <button class="py-2 mt-4 inline-block text-white rounded-full bg-purple text-sm font-thin px-4 rounded-full text-left">
                Promote
              </button>
              <button class="py-2 text-purple inline-block rounded-full border border-purple font-thin px-4 rounded-full text-left text-sm">
                More</button>
            </div>
            <div class="w-1/2 -mt-4">
              <p class="font-bold text-xl text-grey-darker float-right">$135</p>
              <img class="w-full mt-2 ml-4" src="/img/camp1-chart.png">
            </div>
          </div>
          <div class="w-full">
            <div class="flex flex-wrap px-8 pt-4 pb-4 mt-4 mr-4">
              <div class="w-1/2 border-t-2 border-b-2 border-grey-lighter py-8">
                <p class="text-grey-darker mt-4"><span class="font-bold">02.</span> Cool monocles for cats. Lorem ipsum dolor sit...</p>
                <button class="py-2 mt-4 inline-block text-white rounded-full bg-purple text-sm font-thin px-4 text-left">
                  Promote
                </button>
                <button class="py-2 text-purple inline-block rounded-full border border-purple font-thin px-4 rounded-full text-left text-sm">
                  More</button>
              </div>
              <div class="w-1/2 pl-8 border-t border-b py-8">
                <img class="w-3/4 ml-8" src="/img/camp2-chart.png">
              </div>
            </div>
          </div>

          <div class="w-full">
            <div class="flex flex-wrap px-8 py-2 mr-4">
              <div class="w-1/2">
                <p class="text-grey-darker pb-4 pt-6 mt-2"><span class="font-bold">03.</span> Hip hats for hamsters. Lorem ipsum dolor sit...</p>
                <button class="py-2 mt-4 inline-block text-white rounded-full bg-purple text-sm font-thin px-4 rounded-full text-left">
                  Promote
                </button>
                <button class="py-2 text-purple inline-block rounded-full border border-purple font-thin px-4 rounded-full text-left text-sm ">
                  More</button>
              </div>
              <div class="w-1/2">
                <p class="font-bold text-xl text-grey-darker float-right">$343.50</p>
                <img class="w-full mt-2 ml-4" src="/img/camp1-chart.png">
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>


  <section class="mx-4">
    <div class="mx-4">
    <div class="ml-4 flex w-full mt-6 mb-8 justify-center">

      <div class="w-4/5 flex shadow-lg flex-wrap rounded-lg justify-start bg-white">
        <div class="flex px-8 justify-end flex-wrap  w-full my-6">
          <h2 class="flex-1 text-grey-darker font-bold text-lg align-middle self-center ">Top 10 Donors</h2>
          <div>
            <button class="w-30 py-2 mt-4 text-purple rounded-full border border-purple font-thin px-4 rounded-full text-left text-sm float-right mb-6">
              Apr <img src="/img/icons/ChevronDownPurple.svg" class="w-4 ml-8"/>
            </button>
          </div>
        </div>
        <div class="w-1/2 flex flex-wrap mb-3 pt-4 text-grey-darker pl-8">
          <div class="w-20 pl-4">
            <img src="/img/logo.png" class="w-6 h-6"/>
          </div>
          <p class="w-40">Duane Joseph</p>
          <p class="flex-auto self-center font-hairline opacity-50 text-left">$583.57</p>
        </div>
        <div class="w-1/2 flex flex-wrap mb-3 pt-4 text-grey-darker justify-start pl-8">
          <div class="w-20 pl-4">
            <img src="/img/logo.png" class="w-6 h-6"/>
          </div>
          <p class="w-40">Alberta Casey</p>
          <p class="flex-auto self-center font-hairline opacity-50 text-left">$583.57</p>
        </div>
        <div class="w-1/2 flex flex-wrap mb-3 text-grey-darker bg-grey-lightest py-2 pl-8">
          <div class="w-20 pl-4">
            <img src="/img/logo.png" class="w-6 h-6"/>
          </div>
          <p class="w-40">Lola Garcia</p>
          <p class="flex-auto self-center font-thin opacity-50">$583.57</p>
        </div>
        <div class="w-1/2 flex flex-wrap mb-3 text-grey-darker bg-grey-lightest py-2 pl-8">
          <div class="w-20 pl-4">
            <img src="/img/logo.png" class="w-6 h-6"/>
          </div>
          <p class="w-40">Hannah Casey</p>
          <p class="flex-auto self-center font-hairline opacity-50">$583.57</p>
        </div>
        <div class="w-1/2 flex flex-wrap mb-3 text-grey-darker pl-8">
          <div class="w-20 pl-4">
            <img src="/img/logo.png" class="w-6 h-6"/>
          </div>
          <p class="w-40">Don Vega</p>
          <p class="flex-auto self-center font-hairline opacity-50">$583.57</p>
        </div>
        <div class="w-1/2 flex flex-wrap mb-3 text-grey-darker pl-8">
          <div class="w-20 pl-4">
            <img src="/img/logo.png" class="w-6 h-6"/>
          </div>
          <p class="w-40">Juan Jones</p>
          <p class="float-right self-center font-hairline opacity-50">$583.57</p>
        </div>
        <div class="w-1/2 flex flex-wrap mb-3 text-grey-darker bg-grey-lightest py-2 pl-8">
          <div class="w-20 pl-4">
            <img src="/img/logo.png" class="w-6 h-6"/>
          </div>
          <p class="w-40">Walter Carroll</p>
          <p class="flex-auto self-center font-hairline opacity-50">$583.57</p>
        </div>
        <div class="w-1/2 flex flex-wrap mb-3 text-grey-darker bg-grey-lightest py-2 pl-8">
          <div class="w-20 pl-4">
            <img src="/img/logo.png" class="w-6 h-6"/>
          </div>
          <p class="w-40">Robert Thomas</p>
          <p class="flex-auto self-center font-hairline opacity-50">$583.57</p>
        </div>
        <div class="w-1/2 flex flex-wrap mb-3 text-grey-darker pl-8">
          <div class="w-20 pl-4">
            <img src="/img/logo.png" class="w-6 h-6"/>
          </div>
          <p class="w-40">Katharine Cooper</p>
          <p class="flex-auto self-center font-hairline opacity-50">$583.57</p>
        </div>
        <div class="w-1/2 flex flex-wrap mb-3 text-grey-darker pl-8">
          <div class="w-20 pl-4">
            <img src="/img/logo.png" class="w-6 h-6"/>
          </div>
          <p class="w-40">Francis Garcia</p>
          <p class="flex-auto self-center font-hairline opacity-50">$583.57</p>
        </div>
      </div>
    </div>

    </div>
  </section>

  <section class="mx-4 mt-8">
    <div class="mx-4 mt-8">
    <div class="ml-4 flex w-full mt-6 mb-8 justify-center">
      <div class="w-1/2 pb-8 ml-8 mb-8 mt-8 flex">
        <img src="/img/Davos_logo.svg" class="w-24 inline-block self-center mr-4">
        <p class="text-grey-light-list text-sm font-bold inline-block self-center">© 2018 Davos.gives</p>
        <p class="text-grey-light-list ml-2 text-sm inline-block self-center">All rights reserved.</p>
      </div>
    </div>
    </div>
  </section>
</div>
